* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

div {
  display: block;
}

.container {
  float:left;
}

#user-list {
  display: block;
  height: 800px;
  width: 200px;
  float: right;
  border: 1px solid black;
  box-shadow: 6px 3px 3px #000000;
}